In [1]:
fruits = ["Apples", "Mangoes", "Oranges"]
print(fruits)

['Apples', 'Mangoes', 'Oranges']

In [2]:
scores = [23, 45, 70, 54, 90]

In [3]:
fruits[1]

'Mangoes'

In [4]:
fruits.append("Pineapples")

In [5]:
print(fruits)

['Apples', 'Mangoes', 'Oranges', 'Pineapples']

In [6]:
fruits.insert(1, "Strawberry")
print(fruits)

['Apples', 'Strawberry', 'Mangoes', 'Oranges', 'Pineapples']

In [7]:
fruits.remove("Oranges")
fruits

['Apples', 'Strawberry', 'Mangoes', 'Pineapples']

In [8]:
removed = fruits.pop()
print(removed)

Pineapples

In [9]:
fruits

['Apples', 'Strawberry', 'Mangoes']

In [10]:
fruits.pop(0)

'Apples'

In [11]:
fruits

['Strawberry', 'Mangoes']

In [12]:
fruits.clear()

In [13]:
fruits

[]

In [14]:
fruits = ["apple", "banana", "cherry"]
fruits

['apple', 'banana', 'cherry']

In [15]:
fruits.index("banana")

1

In [16]:
fruits.reverse()

In [17]:
fruits

['cherry', 'banana', 'apple']

In [18]:
cars = ['Audi', 'BMW', 'Mercedes', 'Nissan', 'Jeep', 'Lexus', 'Volvo', 'Landrover']

In [20]:
cars[2:6]

['Mercedes', 'Nissan', 'Jeep', 'Lexus']

In [21]:
fruits = ("apple", "banana", "cherry")

In [22]:
fruits[0]

'apple'

In [23]:
fruits[1] = "Mango"

TypeError: 'tuple' object does not support item assignment

In [24]:
# count()
count_fruits = fruits.count("apple")

# index()
index = fruits.index("banana")

In [25]:
person = {"name": "John Doe", "age": 30, "city": "Nairobi"}
person["name"]

'John Doe'

In [26]:
person["city"]

'Nairobi'

In [27]:
person.keys()

dict_keys(['name', 'age', 'city'])

In [28]:
person.values()

dict_values(['John Doe', 30, 'Nairobi'])

In [29]:
person.items()

dict_items([('name', 'John Doe'), ('age', 30), ('city', 'Nairobi')])

In [30]:
fruits = {"apple", "banana", "cherry", "apple"}
print(fruits)

{'apple', 'banana', 'cherry'}

In [31]:
fruits.add("Orange")

In [32]:
fruits

{'Orange', 'apple', 'banana', 'cherry'}

In [33]:
fruits.remove("cherry")
fruits

{'Orange', 'apple', 'banana'}

In [35]:
fruits.pop()

'Orange'

In [36]:
fruits

{'apple', 'banana'}

In [37]:
new_fruits = {'mango', 'strawberry', 'passion', 'banana'}
new_fruits

{'banana', 'mango', 'passion', 'strawberry'}

In [38]:
fruits.intersection(new_fruits)

{'banana'}

In [39]:
fruits2 = fruits.union(new_fruits)

In [40]:
fruits2

{'apple', 'banana', 'mango', 'passion', 'strawberry'}