In [2]:
# Integer
numero_1 = 80

In [3]:
# Float
numero_2 = 5.67

In [4]:
my_name = "Nikola Tesla"

In [5]:
country = 'Kenya'

In [6]:
print(country)

Kenya

In [7]:
is_python_fun = True
is_coding_hard = False

In [8]:
x = 10
y = 5

In [9]:
# Addition
x + y

15

In [10]:
# Subtraction
x - y

5

In [11]:
# Division
x / y

2.0

In [12]:
# Multiplication
x * y

50

In [14]:
# Exponentials
y ** 3

125

In [16]:
# Modulo
11 % 3

2

In [19]:
x * y + 10 - 20 / 4

55.0

In [20]:
greeting = "Hello,"
name = "John"

In [22]:
greeting_name = greeting + " " + name
print(greeting_name)

Hello, John

In [25]:
print(5)

5

In [41]:
number_1 = float(input("Enter first number: "))
number_2 = float(input("Enter second number: "))

In [42]:
product = number_2 * number_1
print(product)

51.0

In [44]:
int(1.6)

1